<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'services' %}" id="all-Services-link" aria-haspopup="true" aria-expanded="false">
                All Services
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'services' %}?category=Film-and-TV" id="film-link" aria-haspopup="true" aria-expanded="false">
                Film & TV
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'services' %}?category=Mixing-and-Mastering" id="mix-link" aria-haspopup="true" aria-expanded="false">
                Mixing & Mastering
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white" href="{% url 'services' %}?category=Tutorials" id="tutorials-link" aria-haspopup="true" aria-expanded="false">
                Tutorials
            </a>
        </li>
    </ul>
</div>

