<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Services
            </a>
            <!-- <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div> -->
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="film-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Film & TV
            </a>
            <!-- <div class="dropdown-menu border-0" aria-labelledby="film-link">
                <a href="" class="dropdown-item">Scores For Film &amp; TV</a>
                <a href="" class="dropdown-item">Sound FX</a>
                <a href="" class="dropdown-item">Trailer Editing</a>
                <a href="" class="dropdown-item">Voiceover</a>
                <a href="" class="dropdown-item">All Options</a>
            </div> -->
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="mix-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mixing & Mastering
            </a>
            <!-- <div class="dropdown-menu border-0" aria-labelledby="mix-link">
                <a href="" class="dropdown-item">Mix &amp; Master</a>
                <a href="" class="dropdown-item"> Full Mix</a>
                <a href="" class="dropdown-item"> Online Mastering</a>
                <a href="" class="dropdown-item">All Options</a>
            </div> -->
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tutorials
            </a>
            <!-- <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Composition tutorial</a>
                <a href="" class="dropdown-item">Mix Tutorial</a>
                <a href="" class="dropdown-item">Mastering Tutorial</a>
                <a href="" class="dropdown-item">All Options</a>
            </div> -->
        </li>
    </ul>
</div>

